.slider h3,
.slider h5{
    text-shadow: 5px 5px 4px rgba(0,0,0,0.7);
}

nav{
    height: 70px;
    padding-top: 5px;
}

.parallax-container{
    height: 20%;
}
.container-kerjasama{
    text-shadow: 5px 4px 4px rgba(255,255,255,0.7);
}

.parallax img{
    filter: grayscale(1);
    opacity: 0.5 !important;
}

section{
    padding: 20px 0;
}